<div class="recipe">
<h1>{{name}}</h1>
<br>
<h3>Zutaten:</h3>
<table class="table">
<tr>
{{#ingredients}}
  <td>{{quantity}}</td>
  <td>{{unit}}</td>
  <td>{{name}}</td>
</tr>
{{/ingredients}}
</table>

<h3>Zubereitung:</h3>
<p>{{preparation}}</p>
</div>